body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: #f1f1f1; */
  /* background-image:  repeating-radial-gradient( circle at 0 0, transparent 0, #f1f1f1 32px ), repeating-linear-gradient( #b7b9da55, #b7b9da ); */

  background-color: #f1f1f1;
  opacity: 0.8;
  background-image: radial-gradient(#b7b9da 1.6px, transparent 1.6px), radial-gradient(#b7b9da 1.6px, #f1f1f1 1.6px);
  background-size: 64px 64px;
  background-position: 0 0, 32px 32px;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}